.listItem {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.7rem;
  cursor: pointer;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .title {
      font-weight: bold;
    }
    .cross {
      font-size: 1.5rem;
    }
  }

  .hidden {
    display: none;
  }
}
