.layout {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &.vertical {
    flex-direction: row;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
}
