.container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
  }
  .aside {
    flex: 1;
    padding: 20px;

    @media screen and (min-width: 1024px) {
      background: linear-gradient(45deg, #7fde87, #a7b6fd);
      padding: 60px;
      min-height: 100vh;

      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .inner {
      @media screen and (min-width: 1024px) {
        max-width: 500px;
        margin: auto 0 auto auto;
      }

      h1 {
        font-size: 30px;
        @media screen and (min-width: 1024px) {
          font-size: 3em;
        }
      }

      .content {
        p {
          margin: 0 0 6px;
        }
      }

      .video {
        margin: 40px 0;
        text-decoration: none;
        color: #522af3;
        display: flex;
        align-items: center;
        border: none;

        display: none;
        @media screen and (min-width: 1024px) {
          display: flex;
        }

        svg {
          margin-right: 10px;
          path {
            fill: #522af3;
          }
        }
      }
    }

    .notes {
      width: 100%;
      display: none;

      @media screen and (min-width: 1024px) {
        max-width: 500px;
        margin: auto 0 0 auto;
        display: block;
      }
    }
  }
  .authContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 20px;
    position: relative;

    @media screen and (min-width: 1024px) {
      min-height: 100vh;
      padding: 60px;
    }

    .legal {
      margin: 10px 0 0;
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }

    .notes {
      max-width: 500px;
      width: 100%;
      margin: auto auto 0 0;
      font-size: 80%;
      color: #555;
      a {
        padding: 2px 0;
        margin: 0 0 4px;
      }
    }
  }
}

.legal {
  font-size: 80%;
  color: #555;
  line-height: 1.4em;
}
